@media (max-width: 768px) {
    /* Default styling for larger screens */
body {
    padding: 2vw; /* Use relative units for padding */
}

.container {
    width: 90%;
    padding: 5vw;
}

input, button {
    font-size: 2rem; /* Use rem for font size */
    padding: 1rem;
}

#map {
    height: 30vh; /* Use viewport height to make the map responsive */
}

h2 {
    font-size: 2.75rem; /* Use rem for font size */
}

/* For devices with screen width up to 768px */
@media (max-width: 768px) {
    body {
        padding: 2.5vw;
    }

    .container {
        width: 95%;
        padding: 4.5vw;
    }

    input, button {
        font-size: 2rem;
        padding: 1rem;
    }

    #map {
        height: 25vh;
    }

    h2 {
        font-size: 2.75rem;
    }
}

/* For devices with screen width up to 480px */
@media (max-width: 480px) {
    body {
        padding: 3vw;
    }

    .container {
        width: 100%;
        padding: 5vw;
    }

    input, button {
        font-size: 2rem;
        padding: 1rem;
    }

    #map {
        height: 20vh;
    }

    h2 {
        font-size: 2.5rem;
    }

    footer {
        font-size: 2rem;
    }
    .btn btn-secondary dropdown-toggle{
        font-size: 2rem;
    }
}